POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=7fz(g_a5z_j4s44lz_=6$#q=5^q$=!nfi#t69x&c4q$!&b71jv
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False



